<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Brand</th>
      <th scope="col">Model</th>
      <th scope="col">Color</th>
      <th scope="col">Country</th>
      <th scope="col">Registration</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">{{ car.id }}</th>
      <td>
        {{ car.brand.name }}
      </td>
      <td>
        {{ car.model }}
      </td>
      <td>
        {{ car.color }}
      </td>
      <td>{{ car.country.name }}</td>
      <td>{{ car.registration | date:'shortDate' }}</td>
    </tr>

        <a class="btn btn-primary" (click)='child.updateMode(updateCar())'>Modify</a>
        <a class="btn btn-danger" (click)='deleteCar(car.id)'>Delete</a>
        <a class="btn btn-warning" (click)='goBack()'>Go Back</a>
    
    </tbody>
  </table>
  <app-car-form id="child" #child hidden (newCar)='update($event)'></app-car-form>