<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Brand </th>
            <th> Country </th>
            <th> Registration </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars$ | async; index as i">
            <th scope="row">{{ car.id }}</th>
            <td>
                {{car.name}}
            </td>
            <td>
                <ngb-highlight [result]="car.brand" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                {{car.country}}
            </td>
            <td>
                <ngb-highlight [result]="car.registration | date:'shortDate'" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <a href="#" (click)='child.updateMode(updateCar(car.id))'>Modify</a>
            </td>
            <td>
                <a href="#" (click)='deleteCar(car.id)'>Delete</a>
            </td>
        </tr>
    </tbody>
</table>





<app-car-form #child (newCar)='add($event)'></app-car-form>